// You custom settings file to override Foundation defaults
@import "base";

/*

"Water is the antithesis of anxiety; it is inexorable and has no cohesion,
 but it travels with the strength of karma.
 To look at water, to grasp its rhythm and feel its flow, is to be calmed.

	by Levi Asher
*/




/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Header

:: Footer

:: Top Navigation

:: Product Page
:::: Simple Product
:::: Simple Product with options
:::: Configurable product
:::: Grouped product
:::: Downloadable product

:: Catalog Page
    :::: Grid View
    :::: List View
    :::::::: Toolbar | Pagination | Sort by
    :::::::: Prices
    :::::::: Layer Navigation
    :::::::: Sidebar Blocks
    :::: Compare Products
:: Cart Page

:: Checkout


:: Success Page
:::: Print Receipt Page

:: My Account

*/

body{ background: #fefefe; font-family: 'Open Sans', sans-serif;}

.sidebar ol{ list-style-type: none; margin-left: 0 }
.required em{color: #c00000; padding-right: 3px}
ul.messages li, ul.messages {margin-bottom: 0}
.success-msg{}
ul.messages li{ display: block; padding: 6px 7px; font-weight: bold; font-size: 13px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; text-shadow: 0 1px rgba(255,255,255,0.9); position: relative; }
ul.messages .success-msg li{ background-color: #7fae00; color: #fff; text-shadow: 0 -1px rgba(0,0,0,0.3); }
ul.messages .notice-msg li{ background-color: #C76711; color: #fff; text-shadow: 0 -1px rgba(0,0,0,0.3); }
ul.messages .error-msg li{ background-color: #c00000; color: #fff; text-shadow: 0 -1px rgba(0,0,0,0.3); }

a {color: #27a2e1}

h1, h2, h3, h4, h5, h6 {
  color: #444;
  font-weight: normal;
  line-height: 1.25;
}
h2 {
  font-size: 22px;
  font-size: 2.2rem;
  margin-bottom: 9px;
}

form label{margin-bottom: 0}

/* -----------------------------------------
   Header
----------------------------------------- */
/* Header Elements*/
header {position: relative;height: 110px;}
header .notice {position: absolute; left: 300px; top: 30px; color: #666;}
header .logo{}
header a.logo{display: block;display: block; margin: 13px 0 0 -15px;}

label + input.input-text, label + textarea, label + select, label + div.dropdown, select + div.dropdown{margin: 0;}

.store-select { float:right; }
.store-select label{ display: none; }
header .form-language label{display: none;}
h1.logo { margin-bottom: 0; }
.top-promo {float: right; border: none;border-right: 1px solid #b7b7b7; padding-right:5px;  }

.utilities                        { padding: 12px; background: #fff; }
/* Main nav  */
ul#nav, ul#nav li, ul#nav ul      {list-style: none; margin: 0; padding: 0; }
ul#nav                            {position: relative; z-index: 7; float: left;border: 1px solid #F0F0F0;border-radius: 5px;box-shadow: 0 1px 1px #f0f0f0;background: #f9f9f7; }
ul#nav li                         {float: left; line-height: 1.3em; vertical-align: middle; zoom: 1; background: #F9F9F9;margin-right: 1px;}
ul#nav li.hover, ul#nav li:hover  {position: relative; z-index: 9; cursor: default; }
ul#nav ul                         {visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; width: 100%; }
ul#nav ul li                      {float: none }
ul#nav ul ul                      {top: 1px; left: 99%; }
ul#nav li:hover > ul              {visibility: visible }
ul#nav li.level0 a span           {padding: 12px;display: inline-block;font-weight: 700;}
ul#nav li.level0.first            {}
ul#nav ul                         {width: 12em;}
ul#nav ul.level0                  {}


/* Top Search */

#search_mini_form{margin: 6px 12px 0 0;}
#search_mini_form input#search{ width: 100%;float: left;box-shadow: #F6F6F6 1px 1px 1px;border: 1px solid #E8E8E8; }
#search_mini_form button[type=submit], #search_mini_form label {display:none;}

/* Top Navigation */
.nav-search{}
header .links li { margin-right: 0.8rem;}
header .links li.last { margin-right: 0;}

nav { padding: 0;float:left;width:80%;position: relative;top: 3px;}

.quick-access ul li, header .links li, .breadcrumbs li, .limiter li, .pages li{ float:left;}
#mobi-nav nav {border:0 none;}
#mobi-nav ul li .level0 {display: none;}
#wub-wub-nav{padding-top: 12px;
  clear: both;
  display: block;
  margin-bottom: 0;}

ul.tabs-content > li.level-top {display: block;}
ul.tabs-content > li.level-top a{display: block;padding:5px;}

ul.tabs-content .level0 a.level-top{background: #efefef;padding: 10px; margin: 0 }
.super-header.row.show-on-phones .top-links{width: 48%; float: left;}
.super-header.row.show-on-phones .store-select{width: 21%;float: right;}

/* Page */

.main-container{ position: relative;}
ul, ol{list-style-type: none;}
/* -----------------------------------------
   Footer
----------------------------------------- */
/*.footer-container { border-top: solid 1px #EEE;padding-top: 12px; }*/
.footer ul { float:left;margin-bottom: 0; }
.footer ul li{ float:left;margin-right: 1rem;margin-bottom: 0; }

/* -----------------------------------------
   Home Page
----------------------------------------- */

.video-embed{
  position: relative;
  padding-bottom: 54%; /* 16/9 ratio */
  padding-top: 30px; /* IE6 workaround*/
  height: 0;
  overflow: hidden;
}
.video-embed iframe,
.video-embed object,
.video-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* -----------------------------------------
   Page
----------------------------------------- */
.page{padding-bottom: 20px; }
.main {}
.col1-layout .col-main  {}
#inner-wrapper          { margin-top: 16px; }
.page-title h1          {font-size: 24px;color: #444;font-weight: normal;margin: 0;padding: 0; margin: 24px 0;}

/* -----------------------------------------
   Product Page
----------------------------------------- */
.product-essential .product-shop{}
.product-essential .product-shop .product-name h1{font-size: 18px}
.product-essential .product-img-box{}
.product-essential .price-box{float: none;}
.product-view h2, .box-collateral h3{font-size: 14px}
.product-essential .or {display: none;}
.product-essential hr {visibility: hidden;}
.product-shop p.email-friend, .product-shop p.no-rating {margin-bottom: 0px;}
.product-shop .availability {margin: 6px 0;}
.product-shop .add-to-cart, .product-shop .add-to-links, .product-options-bottom .add-to-cart, .product-options-bottom .add-to-links{width: 100%; clear: both; margin-bottom: 12px; overflow: hidden;}
.product-shop .add-to-cart label,.product-shop .add-to-cart input#qty, .product-shop .add-to-cart button.button {display: block;float: left}
.product-shop .add-to-cart label, .product-options-bottom label {margin-top: 10px; margin-right: 4px;float: left;
}
.product-shop .add-to-cart input#qty, .product-options-bottom input#qty{width: 32px;margin-top: 6px; margin-right: 4px;float: left; }
.product-shop .add-to-cart button.button {}
.short-description{font-size: 14px; line-height: 1.4;}
.short-description br{
  display: none;
}


.product-options dt label{ line-height: 23px;
}

#product-options-wrapper {

  box-shadow: #F6F6F6 1px 1px 1px;
  border: 1px solid #E8E8E8;
  padding: 12px 12px 0px 12px;
  margin-bottom: 12px;
}
#product-options-wrapper span.label{color: #333;display: inline-block;
  background: inherit;
}

.product-options dd .input-box, .product-options dd .qty-holder{
  display: inline-block;
}
.product-options dd .qty-holder{
  margin-left: 12px;
  float: right;
}
.product-options dd{
  background: #F9F9F9;
  padding: 8px;
  margin-bottom: 8px;
  border-bottom: 1px dashed #E8E8E8
}
.product-options li{
  margin-bottom: 0;
}
/* -----------------------------------------
   Catalog Page
----------------------------------------- */
.toolbar, .toolbar-bottom   	{clear:both;}
.sorter												{padding-bottom: 6px;margin-bottom: 6px;}
.page-title.category-title h1	{font-size: 1.8em;font-weight: 600;margin: 0;  }


.price-box                  {float: left;line-height: 34px; min-height: 34px;  margin-right: 12px;font-size: 18px;margin-bottom: 6px}
.price-box p                {margin-bottom: 2px}

.minimal-price-link         {  background: #efefef; font-size: 11px; padding: 2px 4px; line-height: 14px }
.col-main nine columns			{	width: 71.9%;}
.add-to-links               {margin:12px 0;}
.add-to-links li            {margin: 0 4px 0 0; float: left;}

.ratings {font-size: 11px;line-height: 1.25;margin: 7px 0;}
.rating-box {
  width: 69px;
  height: 13px;
  font-size: 0;
  line-height: 0;
  background: url(../images/bkg_rating.gif) 0 0 repeat-x;
  text-indent: -999em;
  overflow: hidden;
  float: left;
  margin-right: 3px;
}
.rating-box .rating {
  float: left;
  height: 13px;
  background: url(../images/bkg_rating.gif) 0 100% repeat-x;
}
/* Temporary */ form.custom div.custom.dropdown{display: inline-block;}
/* Ze Blocks */

.block-title{margin: 12px 0 6px 0 ;}

.block-cart .block-subtitle{margin:12px 0 0 0 ;}
#cart-sidebar.mini-products-list {}
#cart-sidebar.mini-products-list .product-image{}
#cart-sidebar.mini-products-list .product-details{}
.block-subscribe label{display: none;}
.block-content {margin-top: 6px;}
.block-content li, .block-content li p{margin-bottom: 6px;}

/* Poll */

#poll-answers input[type=radio]{float: left; margin-right: 6px}


/* --- Grid View --- */
.products-grid              {}
.products-grid .item        { }
.products-grid .item.last   {}
.products-grid .item.first  {}
.products-grid.first.odd    {}
.products-grid.last.even    {}
.products-grid  h2.product-name { font-size: 16px }
.products-grid  .price-box, .products-grid  .actions{ width: 90%;clear: both; }
.products-grid .add-to-links{}
.products-grid .add-to-links li{float: left;margin: 0;font-size: 12px;padding-right: 5px; }
.products-grid .add-to-links a {font-size: 11px;font-weight: 700}


/* --- List View --- */
.category-products ol.products-list { list-style-type: none;margin: 22px 0 0 0; }
.category-products ol.products-list .product-image{   }
.category-products ol.products-list .product-shop{   }
.category-products ol.products-list .product-shop h2{ font-size: 18px;  }
.category-products ol.products-list .item{ border-bottom: 1px solid #efefef;margin-bottom: 12px; overflow: hidden;  }
.category-products ol.products-list .item.last{ border-bottom: none; }

/* --- Layer navigation --- */

.block-layered-nav ol{
  list-style-type: none;
  margin-left: 0px;
  margin-bottom: 4px;

  padding: 0;
}
#narrow-by-list li{
  margin-bottom: 0px;
}
.block-layered-nav .block-subtitle{
  margin-bottom: 9px;
}
#narrow-by-list dt{
  font-size: 16px;
  font-weight: bold;
  margin: 12px 0 4px;

}
.block-layered-nav .currently .label{
  display: none;

}
.block-layered-nav .currently {
  border-bottom: 1px solid #efefef;
  padding-bottom: 4px;
  margin-bottom: 6px;
}
.block-layered-nav .currently li{
  margin-bottom: 6px;
}
.block-layered-nav .actions{

}

.round-inline, .round-box, .round-inline-bare{display: inline-block; padding: 6px 7px; font-weight: bold; font-size: 13px; background: #eee; border: 1px solid rgba(0,0,0,0.1); margin-bottom: 12px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; text-shadow: 0 1px rgba(255,255,255,0.9); position: relative;}
.round-box {display: box}
.round-inline-bare{ background: none; border: 0 none; }

/* ---  --- Toolbar, Pagination, Sort by --- --- */

/* --- Prices --- */

/*--- Breadcrumbs ---*/
.pager, .sort-by {
  font-size: 11px;
  text-align: center;
}


.toolbar .pager {
  padding-bottom: 6px;
  border-bottom: 1px solid #EFEFEF;
  margin-bottom: 6px;

}
.pager .amount {

  margin: 0;
}
.pager .limiter {
  float: right;
}

.pager .limiter select, .pager .limiter label {
  display: inline-block;
  vertical-align: middle;
}
.pager .limiter select{width: 60px;}
.view-mode{float: left;margin-bottom:0;}
.view-mode label {display: inline-block;}
.sort-by{float:right;}
.sort-by label, .sort-by select{ display: inline-block; line-height: 22px; }
.sort-by select{ width: 70%; }

ul.breadcrumbs { margin-top: 12px;background: 0 none;border: 0;border-bottom: 1px solid #E9E9E9; }
.breadcrumbs li{ margin-bottom: 0; font-size: 12px;color: #666; }
.breadcrumbs strong{ font-weight: normal;}
.breadcrumbs span{ padding-right: 0.5rem;}

/* Footer */

/* -----------------------------------------
   Cart Page
----------------------------------------- */

#shopping-cart-table .product-name, .cart-collaterals h2{font-size: 16px;margin-bottom: 0}
#shopping-cart-table {border-spacing: 0;empty-cells: show;font-size: 100%;border-radius: 0; border-collapse: separate;
}
.cart-collaterals .product-name{font-size: 14px;}
#shopping-cart-table, #shopping-cart-totals-table {width: 100%; }
#shopping-cart-table tbody tr td{vertical-align: middle;}
#shopping-cart-table thead tr th{padding: 8px 0; text-align: left;}
#shopping-cart-table thead tr th.a-center{padding: 8px 0; text-align: center;}
#shopping-cart-table tbody tr td.cart-image{width: 90px}
#shopping-cart-table tbody tr td.cart-name{}
#shopping-cart-table tbody tr td .product-image{display: block;float: left }
#shopping-cart-table tbody tr td .product-name{display: block;float: left }
.cart-table td {
  padding: 10px;
}
#shopping-cart-table .item-options{
  clear: both;
}
form fieldset {padding: 0;border: none;}


.coupon.shipping h2 {font-size: 16px;}

.checkout-types{
  text-align: right;
}

.cart-collaterals{
  border-top: 1px dashed #efefef;
  padding-top: 12px;
  margin-top: 8px;
}
.cart-collaterals h2{margin-bottom: 12px;
}
#crosssell-products-list{}
#crosssell-products-list li.item{float: left;}
#crosssell-products-list li.item .product-image{float: left;display: block;}
.crosssell-products-list li.item .product-details{float: left;margin-left: 8px;
}
/* -----------------------------------------
   Checkout Page
----------------------------------------- */
/* OPC - One Page Checkout */
#checkoutSteps.opc p, #checkoutSteps.opc ul, #checkoutSteps.opc ul li{margin-bottom: 6px}
#checkoutSteps.opc #checkout-step-login ul.ul li{list-style-type:disc; list-style-position: inside;}
#checkoutSteps.opc ul.form-list {margin: 12px 0;}
#checkoutSteps.opc input {margin-right: 4px;}
#checkoutSteps.opc input[type=text], #checkoutSteps.opc input[type=password] {width: 100%}
.opc label {display: inline-block;  }
#checkoutSteps {list-style-type: none;margin-left: 0}
#checkoutSteps .step-title {border-bottom: 1px solid #efefef;margin-bottom: 8px}
#checkoutSteps .step-title h2, #checkoutSteps span.number{font-size: 18px;display: inline-block;font-weight: normal;
  display: -moz-inline-stack ;
  display: inline-block !important;
  zoom: 1;
  *display: inline !important;

}
#checkoutSteps h3 {font-size: 16px; font-weight: normal;}
#checkoutSteps h4 {font-size: 14px; }
#checkoutSteps span.number{}
#checkoutSteps .fields{width: 48%;float: left;margin-right: 10px;}
#checkoutSteps .wide{width: 97.3%;float: left;}
#checkoutSteps #billing-new-address-form label{margin-bottom: 0}
.step {
  border-bottom: 1px solid #0192DD;
  padding-bottom: 12px;
}




/* -----------------------------------------
   Success Page
----------------------------------------- */

/* --- Print receipt page --- */



/* -----------------------------------------
   My Account
----------------------------------------- */



/* Messages */

.validation-advice, p.required {color: #C76711; clear: both;
}


/* Form elements */
input.input-text, textarea{
  box-shadow: #F6F6F6 1px 1px 1px;
  border: 1px solid #E8E8E8;
  width: 100%;
}
input.input-text.qty{
  width: 40px;
}


/* Top Bar  */

/* Foundation Top Bar
 Requires: -jquery.foundation.topbar.js
 Notes: - <nav class="top-bar"> can have .fixed added to make it stick to the top of viewport. Can add .contain-to-grid to top-bar to make it full width but content on grid. - <li class="name"> creates a branding area that can be linked to homepage - Can include text, image or both inside this <li>. - <li class="divider"> creates a divider between nav items, add margins for space - <li class="search"> Needs to hold a <form> which can use .row.collapse and pre/postfix buttons or default type="search"
*/
/* Element that controls breakpoint, no need to change this ever */
.top-bar-js-breakpoint { width: 940px !important; visibility: hidden; }

/* Wrapped around .top-bar to contain to grid width */
.contain-to-grid { width: 100%; background: #222222; }

/* Wrapped around .top-bar to make it fixed at the top */
.fixed { width: 100%; left: 0; position: fixed; top: 0; z-index: 99; }

/* <nav> */
.top-bar { background: #f9f9f7; height: 45px; line-height: 45px; margin: 0 0 30px; padding: 0; width: 100%; -moz-box-shadow: 0 1px 1px #F0F0F0; -webkit-box-shadow: 0 1px 1px #F0F0F0; box-shadow: 0 1px 1px #F0F0F0; /* Contain width to .row width */ /* First <ul> for branding, title, name, etc */ /* topbar global <ul> styles */ }
.contain-to-grid .top-bar { width: 940px; margin: 0 auto; }
.top-bar > ul .name h1 { line-height: 45px; margin: 0; }
.top-bar > ul .name h1 a { font-weight: bold; padding: 0 22.5px; font-size: 17px !important; }
.top-bar > ul .name img { margin-top: -5px; vertical-align: middle; }
.top-bar ul { display: inline; height: 45px; line-height: 45px; list-style: none; /* Main Navigation links style */ /* Left Side <ul> */ /* Right Side <ul> */ }
.top-bar ul > li { float: left; /* Dividers between navigation */ /* Put a button in an <li> but give is a class */ /* Put a search bar or text input in the bar */ /* Hide the triangle for breakpoint menu */ /* li.has-dropdown */ }
.top-bar ul > li a:not(.button) { color: #000; display: block; font-size: 13px; font-weight: bold; height: 45px; line-height: 45px; padding: 0 15px; }
.top-bar ul > li:hover, .top-bar ul > li.active { background: #f5f5f3; }
.top-bar ul > li:hover a, .top-bar ul > li.active a { color: #2BA6CB; }
.top-bar ul > li.divider { background: #f5f5f3; -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1); -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1); box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1); height: 100%; margin-right: 1px; width: 1px; }
.top-bar ul > li.has-button a.button { margin: 0 11.25px; }
.top-bar ul > li.has-button:hover { background: #f5f5f3; }
.top-bar ul > li.has-button:hover a { color: #fff; }
.top-bar ul > li.search { padding: 0 15px; }
.top-bar ul > li.search form { display: inline-block; margin-bottom: 0; vertical-align: middle; width: 200px; }
.top-bar ul > li.search form input[type=text] { -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0; -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0; float: left; font-size: 13px; margin-top: -1px; height: 22.5px; }
.top-bar ul > li.search form input[type=text] + .button { border-left: none; -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; border-top-left-radius: 0; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0; float: left; font-size: 12px; margin-top: -1px; padding: 5px 12px 4px; }
.top-bar ul > li.search form input[type=search] { font-size: 16px; margin-bottom: 0; }
.top-bar ul > li.search:hover { background: #f5f5f3; }
.top-bar ul > li.toggle-topbar { display: none; }
.top-bar ul > li.has-dropdown { position: relative; /* Dropdown Level 2+ */ }
.top-bar ul > li.has-dropdown:hover > .dropdown { display: block; visibility: visible; }
.top-bar ul > li.has-dropdown a { padding-right: 33.75px; }
.top-bar ul > li.has-dropdown a:after { content: ""; display: block; width: 0; height: 0; border: solid 5px; border-color: white transparent transparent transparent; margin-right: 15px; margin-top: -2.5px; position: absolute; right: 0; top: 50%; }
.top-bar ul > li.has-dropdown .dropdown { background: #f5f5f3; left: 0; margin: 0; padding: 9px 0 0 0; position: absolute; visibility: hidden; z-index: 99; }
.top-bar ul > li.has-dropdown .dropdown li { background: #f5f5f3; line-height: 1; min-width: 100%; padding-bottom: 5px; }
.top-bar ul > li.has-dropdown .dropdown li a { font-weight: normal; height: 100%; line-height: 1; padding: 5px 17px 5px 15px; white-space: nowrap; }
.top-bar ul > li.has-dropdown .dropdown li a:after { border: none; }
.top-bar ul > li.has-dropdown .dropdown li a:hover { background: #ececea; }
.top-bar ul > li.has-dropdown .dropdown li label { color: #6f6f6f; font-size: 10px; font-weight: bold; margin: 0; padding-left: 15px; text-transform: uppercase; }
.top-bar ul > li.has-dropdown .dropdown li.divider { border-top: solid 1px black; -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset; -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset; height: 10px; padding: 0; width: 100%; }
.top-bar ul > li.has-dropdown .dropdown li:last-child { padding-bottom: 10px; }
.top-bar ul > li.has-dropdown .dropdown li.has-dropdown > a { padding-right: 30px; }
.top-bar ul > li.has-dropdown .dropdown li.has-dropdown > a:after { border: none; content: "\00bb"; right: 5px; top: 6px; }
.top-bar ul > li.has-dropdown .dropdown li.has-dropdown .dropdown { position: absolute; left: 100%; top: 0; }
.top-bar ul > li.has-dropdown .dropdown li.has-dropdown:hover > .dropdown { display: block; }
.top-bar ul.left { float: left; width: auto; margin-bottom: 0; }
.top-bar ul.right { float: right; width: auto; margin-bottom: 0; /* Dropdown Right Side Alignment */ }
.top-bar ul.right .has-dropdown .dropdown { left: auto; right: -1px; }
.top-bar ul.right .has-dropdown .dropdown li.has-dropdown > .dropdown { right: 100%; left: auto; width: 100%; }
.top-bar .js-generated { display: none; }

/* Firefox Fixes */
@-moz-document url-prefix() { .top-bar ul li .button.small { padding-bottom: 6px; }
  .top-bar ul li.search form input[type=search] { font-size: 14px; height: 22px; padding: 3px; } }

/* IE8 Fixes */
.lt-ie9 .top-bar ul li a { color: white; display: block; font-weight: bold; font-size: 13px; height: 45px; line-height: 45px; padding: 0 15px; }
.lt-ie9 .top-bar ul li a.button { height: auto; line-height: 30px; margin-top: 7px; }
.lt-ie9 .top-bar ul li a:hover { color: #cccccc; }
.lt-ie9 .top-bar ul li a img { margin-top: -5px; vertical-align: middle; }
.lt-ie9 .top-bar ul li a.active { background: #151515; color: #d9d9d9; }

.lt-ie9 .top-bar ul li.has-dropdown { padding-right: 33.75px; }
.lt-ie9 .top-bar ul li.has-dropdown > ul li { padding-right: 0; }

/* Mobile Styles */
@media only screen and (max-width: 940px) { .top-bar { margin-bottom: 0; overflow: hidden; /* Override contain to grid stuff for breakpoint */ /* Setting up the sliding area */ /* When the Small Nav is Showing */ }
  .top-bar .js-generated { display: block; }
  .contain-to-grid .top-bar { width: auto; }
  .top-bar section { left: 0; position: relative; width: auto; -webkit-transition: left 300ms; -moz-transition: left 300ms; -o-transition: left 300ms; transition: left 300ms; }
  .top-bar ul { width: 100%; min-height: 100%; height: 100%; margin-bottom: 0; display: block; }
  .top-bar ul li { float: none; /* Branding and name */ /* Dropdown Toggle */ /* Divider for breakpoint */ /* Search Overrides for breakpoint size */ /* Dropdown Level 1 */ /* Dropdown Level 2 */ }
  .top-bar ul li.active, .top-bar ul li:hover { background: #151515; }
  .top-bar ul li.name { background: black; }
  .top-bar ul li.name h1 { line-height: 1; }
  .top-bar ul li.name h1 a { padding-left: 22.5px; }
  .top-bar ul li.toggle-topbar { cursor: pointer; display: block; height: 45px; position: absolute; right: 0; top: 0; width: 50%; }
  .top-bar ul li.toggle-topbar a { content: ""; display: block; width: 0; height: 0; border: solid 8px; border-color: white transparent transparent transparent; padding: 0; position: absolute; top: 50%; right: 22.5px; margin-top: -4px; }
  .top-bar ul li.toggle-topbar:hover { background: black; }
  .top-bar ul li.toggle-topbar a { padding: 0 !important; }
  .top-bar ul li.divider { border-bottom: solid 1px rgba(255, 255, 255, 0.2); border-top: solid 1px black; clear: both; height: 1px !important; margin: 8px 0 !important; width: 100%; }
  .top-bar ul li.search { padding: 0 22.5px; }
  .top-bar ul li.search form { width: 100%; }
  .top-bar ul li.search form input[type=text] { width: 75%; }
  .top-bar ul li.search form .button { top: 0; width: 25%; }
  .top-bar ul li.has-dropdown a { padding-right: 33.75px; }
  .top-bar ul li.has-dropdown a:after { content: ""; display: block; width: 0; height: 0; border: solid 5px; border-color: transparent transparent transparent rgba(255, 255, 255, 0.5); margin-right: 15px; margin-top: -4.5px; position: absolute; top: 50%; }
  .top-bar ul li.has-dropdown:hover > .dropdown { display: block; visibility: hidden; }
  .top-bar ul li.has-dropdown .dropdown { visibility: hidden; z-index: 0 !important; }
  .top-bar ul li.has-dropdown.moved { position: static; }
  .top-bar ul li.has-dropdown.moved .dropdown { top: 0; visibility: visible; }
  .top-bar ul li.has-dropdown.moved .dropdown li label { margin-bottom: 6px; padding-top: 6px !important; font-size: 11px; }
  .top-bar ul li.has-dropdown.moved .dropdown li:not(.title) { padding-bottom: 0; }
  .top-bar ul li.has-dropdown.moved .dropdown li:not(.title) a { padding: 8px 22.5px; font-size: 14px; }
  .top-bar ul li.has-dropdown.moved .dropdown li a, .top-bar ul li.has-dropdown.moved .dropdown li label { padding: 0 22.5px; }
  .top-bar ul li.has-dropdown.moved .dropdown li a:hover { background: transparent; display: block; }
  .top-bar ul li.has-dropdown.moved .dropdown li.divider { border-bottom: solid 1px rgba(255, 255, 255, 0.1); margin-top: 8px !important; margin-bottom: 8px !important; }
  .top-bar ul li.has-dropdown.moved .back.title { padding-bottom: 0; }
  .top-bar ul li.has-dropdown.moved .back.title a:before { position: absolute; top: 50%; left: 17.5px; margin-top: -5px; width: 0; height: 0; content: ""; display: block; width: 0; height: 0; border: solid 5px; border-color: transparent white transparent transparent; }
  .top-bar ul li.has-dropdown.moved .back.title h5 { margin: 0; padding-left: 15px; position: relative; }
  .top-bar ul li.has-dropdown.moved .back.title h5 a { padding-top: 8px; padding-bottom: 8px; font-size: 23px; font-weight: bold; }
  .top-bar ul li.has-dropdown .dropdown li { background: transparent; }
  .top-bar ul li.has-dropdown .dropdown li.has-dropdown .dropdown { left: 100% !important; top: 0; right: auto !important; }
  .top-bar ul li.has-dropdown .dropdown li.has-dropdown > a { padding-right: 33.75px; }
  .top-bar ul li.has-dropdown .dropdown li.has-dropdown > a:after { content: ""; margin-right: 15px; content: ""; display: block; width: 0; height: 0; border: solid 5px; border-color: transparent transparent transparent rgba(255, 255, 255, 0.5); position: absolute; top: 50%; margin-top: -4.5px; }
  .top-bar ul li.has-dropdown .dropdown li.has-dropdown.moved { position: static; }
  .top-bar ul li.has-dropdown .dropdown li.has-dropdown.moved .dropdown { top: 0; visibility: visible; }
  .top-bar ul li.has-dropdown .dropdown li.has-dropdown:hover { display: block; }
  .top-bar ul.left, .top-bar ul.right { float: none; width: 100%; }
  .top-bar ul.left > li, .top-bar ul.right > li { display: block; float: none; margin: 0 !important; }
  .top-bar ul.left > li.has-dropdown .dropdown, .top-bar ul.right > li.has-dropdown .dropdown { left: 100% !important; top: 0; right: auto !important; }
  .top-bar section > ul li a:not(.button) { padding-left: 22.5px !important; }
  .top-bar.expanded { height: 100%; }
  .top-bar.expanded ul li.toggle-topbar a { content: ""; display: block; width: 0; height: 0; border: solid 8px; border-color: transparent transparent rgba(255, 255, 255, 0.5) transparent; top: auto; bottom: 50%; margin-bottom: -4px; }
  .top-bar ul li.has-button { padding: 0 20px 5px; }
  .top-bar ul li .button.small { margin: 0 !important; display: inline-block; width: 100%; } }
