#checkout-step-billing,
#checkout-step-shipping,
#checkout-step-login,
#checkout-step-shipping_method,
#checkout-step-payment{
	ul,
	fieldset{
		margin: 0;
		padding: 0;
	}
}

.opc{ 
	.section{ 
		.step-title{ 
			clear: both;
			h2{
				display: inline-block;
			}
			a{
  				display: none;	
			}
		}
		&.allow:not(.active){
			.step-title a{
				display: block;
			    float: right;
			    line-height: 40px;
			    height: 40px;
			    padding: 0 10px;
			}
		}
	}
}