.footer-container{
	margin-top: 2em;
	ul.links{
		text-align: right;
	}
	address{
		text-align: right;
		clear: both;
	}
	.block-subscribe{
		.input-box{
			padding-right: 0;
			input{
				height: 2.35em;
			}
		}
		.actions{
			padding-left: 0;
			button{
				@extend .tiny;
				width: 100%;
				height: 3em;
			}
		}
	}
}