.header-container{
	.super-header{
		.welcome{

		}
		.switchers{
			.store-switcher,
			.form-language,
			.block-currency{
				display: inline-block;
				vertical-align: top;
				width: 120px;
			}
		}
		.top-links{
			ul{
				float: right;
				display: inline-block;
				li{
					padding: 0 0 0 0.5em;
					a{
						font-size: 0;
						&:before{
							font-family: FontAwesome;
							font-size: 30px;
						}
					}
					&:first-child{
						a:before{
							content: "\f007";
						}
					}
					&:nth-child(2){
						a:before{
							content: "\f004";
						}
					}
					&:nth-child(3){
						a:before{
							content: "\f0ec";
						}
					}
					&:nth-child(4){
						a:before{
							content: "\f090";
						}
					}
				}
			}
		}
		.btn-cart{
			float: right;
			padding: 0 0 0 0.5em;
			&:before{
				content: "\f07a";
				font-family: FontAwesome;
				font-size: 30px;
			}
		}
	}
	.header{
		.quick-access{
			height: 74px;
			position: relative;
			.form-search{
				float: right;
				input,
				button{
					width: auto;
					display: inline-block;
					margin-bottom: 0;
					vertical-align: top;
					padding: 0.55rem 2rem 0.55rem 2rem;
				}
				input{
					width: 200px;
				}
			}
		}
	}
}