//Product page

.product-flexslider{
	position: relative;
	.flex-control-nav{
		display: none;
	}
	.flex-direction-nav{
		.flex-prev{
			position: absolute;
			bottom: 50px;
			left: 0px;
			visibility: hidden;
		}
		.flex-next{
			position: absolute;
			bottom: 50px;
			right: 0px;
			visibility: hidden;
		}
		
	}
	&:hover{
		.flex-prev,
		.flex-next{
			visibility: visible;
		}
	}
}

.product-collateral{
	clear: both;
}

.add-to-cart,
.add-to-cart-alt{
	.quantity{
		i{
			cursor: pointer;
		}
		input{
			display: inline-block;
			width: 50px;
		}
	}
}

.box-reviews{
	.form-add{
		.buttons-set{
			.button{
				float: right;
			}
		}
	}
}