.custom-width {
  width: 10rem !important;
}
.checkout-types {
	.nephritis-flat-button {
		padding: 0.5rem;
	}
}
.noItems-page {
	padding: 1rem 0rem;
}
@media only screen and (max-width: 40.063rem) {
	.cart {
		margin: 0 0.5rem 0 0.5rem;
	}
}