.cart form{
  @include outerRow();
}

.cart-table{
  width: 100%;
  border-collapse: inherit;
}

.cart fieldset{
  margin:0;
  padding: 0;
  border: 0 none;
}
td.cart-image{
  width: 90px;
}
#shopping-cart-totals-table{
  width: 100%;
}
.cart-name .product-name{
  font-size: ms(1);
}
.coupon.shipping h2{font-size: ms(3);}
.cart-collaterals{
  border-top: 1px solid #D7F2FD;
  border-bottom: 1px solid #D7F2FD;
  background: #FDFFFF;

}