.catalog-category-view .grid-mode .product-name{
  font-size: $h5-font-size;
  font-weight: 500;
  margin: 1em 0;
}
.catalog-category-view .grid-mode  .price-box{
  margin-bottom: 1em;
}
.catalog-category-view .grid-mode .price-box .regular-price, .catalog-category-view .grid-mode .price-box .minimal-price-link{
  @include grid-row(12);
  font-size: $h4-font-size;
}

.catalog-category-view  .desc.std{
  margin-bottom: 1em;
}
.electronics-margin {
  margin-bottom: 3rem !important;
}
.colmargin {
  padding-left: 0;
  padding-right: 0;
}
.per-page {
  width: 40px;
}
.sort-by-select {
  margin-right: 1.8rem;
}
.grid-mode {
  padding-left: 0.4rem;
}
.page-title {
  padding: 0rem;
  margin-top: 0.2rem;
}
#sidebar {
  border: 2px solid #efefef;
  padding: 1rem;
  background: #f9f9f9;
  margin-bottom: 2rem;
}
*[role="main"] {
  padding-left: 1rem;
  padding-bottom: 2rem;
 }
.item {
  padding: 0.5rem !important;
  margin-bottom: 0.9rem;
}
.inner-wrapper {
  border: 1px solid #efefef;
  padding: 0.5rem;
}
.inner-wrapper:hover {
  -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.10);
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.10);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.10);
}
.category-image {
  padding-left: 0.1rem;
}
.category-description {
  padding-left: 0rem;
  padding-bottom: 1rem;
}
.nephritis-flat-button {
  position: relative;
  vertical-align: top;
  width: 85%;
  padding: 0;
  font-size: 1rem !important;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background-color: #27ae60 !important;
  border: 0;
  border-bottom: 2px solid #219d55;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #219d55;
  box-shadow: inset 0 -2px #219d55;
}
.nephritis-width {
  width: 140px;
}
nephritis-flat-button:hover, .nephritis-flat-button:hover {
  background-color: #219d55 !important;
}
.actions .nephritis-flat-button {
margin-bottom: 0;
}
.view-mode strong.grid {
  display:block;
  width: 20px;
  height: 20px;
  background: url(../images/grid.png) no-repeat top left transparent;
  font-size: 0;
  text-indent: -9999px;
}
.view-mode strong.list {
  display:block;
  width: 20px;
  height: 20px;
  background: url(../images/list.png) no-repeat bottom left transparent;
  font-size: 0;
  text-indent: -9999px;
}
.view-mode a.grid {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../images/grid-light.png) no-repeat top right transparent;
  font-size: 0;
  text-indent: -9999px;
}
.view-mode a.list {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../images/list-light.png) no-repeat bottom right transparent;
  font-size: 0;
  text-indent: -9999px;
}
.review-padding {
  padding-left: 0;
}
.review-form-padding {
  padding-left: 0;
}
@media only screen and (min-width: 64.063em) {
  .review-form-padding {
    padding-top: 4rem;
}
}
@media only screen and (max-width: 40.063em) {
  .sidebar-button {
    padding-top: 1rem;
  }
  .colmargin {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .page-title {
    margin-left: 0rem;
  }
  *[role="main"] {
  padding-left: 0rem;
  padding-bottom: 2rem;
 }
 .fa-bars {
  margin-top: 1rem;
  margin-left: 0.5rem;
 }
 .row.product-media {
    margin: 2rem 0.5rem 0.5rem 0.5rem;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  
}