/* -----------------------------------------
   Checkout Page
----------------------------------------- */
/* OPC - One Page Checkout */
#checkoutSteps.opc p, #checkoutSteps.opc ul, #checkoutSteps.opc ul li{margin-bottom: 6px}
#checkoutSteps.opc #checkout-step-login ul.ul li{list-style-type:disc; list-style-position: inside;}
#checkoutSteps.opc ul.form-list {margin: 12px 0;}
#checkoutSteps.opc input {margin-right: 4px;}
#checkoutSteps.opc input[type=text], #checkoutSteps.opc input[type=password] {width: 100%}
.opc label {display: inline-block;  }
#checkoutSteps {list-style-type: none;margin-left: 0}
#checkoutSteps .step-title {border-bottom: 1px solid #efefef;margin-bottom: 8px}
#checkoutSteps .step-title h2, #checkoutSteps span.number{font-size: 18px;display: inline-block;font-weight: normal;
  display: -moz-inline-stack ;
  display: inline-block !important;
  zoom: 1;
  *display: inline !important;

}
#checkoutSteps h3 {font-size: 16px; font-weight: normal;}
#checkoutSteps h4 {font-size: 14px; }
#checkoutSteps span.number{}
#checkoutSteps .fields{width: 48%;float: left;margin-right: 10px;}
#checkoutSteps .wide{width: 97.3%;float: left;}
#checkoutSteps #billing-new-address-form label{margin-bottom: 0}
.step {
  border-bottom: 1px solid #0192DD;
  padding-bottom: 12px;
}
.col-right.sidebar{
  padding-top: 3em;
}