#crosssell-products-list{}
#crosssell-products-list li.item{float: left;}
#crosssell-products-list li.item .product-image{float: left;display: block;}
.crosssell-products-list li.item .product-details{float: left;margin-left: 8px;
}