.crosssell{@include column(12);}
.crosssell h2{font-size: ms(1);}
.crosssell .product-name{font-size: ms(0);margin-top: 0}
.crosssell .item{
  margin-bottom: 1em;
}
.crosssell .product-details{
  padding: 1em;
  background: #F2F9FC;
  border: 1px solid #DDE4E7;
}
.crosssel .add-to-links{
  margin-top: 1em;
  background: #fff;
  border-top: 1px solid #DDE4E7;

}




