.site-footer{
  @include outerRow();
  margin-top: 2em;
}

.site-footer footer{
  @include outerRow();
  background: #F2F9FC;
  border: 1px solid #dde4e7;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

footer{
  background-color: #fff;
}

.line-separator{
  height:1px;
  background:#717171;
  border-bottom:1px solid #e6e6e6;
  margin-top: 10px;
  margin-bottom: 20px;
}

.social-icon{
  font-size: 2em;
  line-height: 2em;
  text-align: right;
}
#info{
  list-style-type: none;
}

.column-title{
  padding: 30px 0 20px 0;
  font-weight: 900;
}
