.form-list{
  list-style-type: none;
  margin: 0;
}
select {
  font-family: "Open Sans";
}
.opc .step-title h2 {
  font: bold 12px/14px ProximaNova !important;

}
.breadcrumbs-wrapper {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}
.category-products {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.product-media {
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}
.inner-wrap {
  margin-top: 0.5rem;
}
li {
  list-style-type:none;
}
.col3-padd {
  padding-left: 0rem;
  padding-right: 0rem;
}
