/* -----------------------------------------
   Header
----------------------------------------- */
/* Header Elements*/

.site-header {
  @include outerRow();
  padding: 1em 0 1em 0;
  background: $siteBackground;
  @include box-shadow(0 -3px -2px rgba(0, 143, 255, 0.04));
  border-top: 1px solid #A9D9FF;
}
.site-language{
  @include column(2,collapse);
  padding: 1em 0;
  float: right;
}
.site-language label{
  display: none;
}
.site-language .custom.dropdown, .site-language div.custom.dropdown.open ul{
  width: 100% !important;
}

.site-account{
  @include column(1,collapse);
  float: right;
}

.site-header .notice {
  position: absolute;
  left: 300px;
  top: 30px;
  color: #666;
}

.site-identity{
  @include column(3);
}

.site-cart{
  @include column(4);
  text-align: right;
}

/* Site Search */

.site-search{
  @include column(5, collapse);
  font-size: ms(0);

}
.site-search form{
  margin: 0.8em 0 0 0;
}
