/* -----------------------------------------
   Header
----------------------------------------- */
/* Header Elements*/

.site-header {
  @include outerRow();
  padding: 0.5em 0;
  background: $siteBackground;
}

.site-account{
  @include column(1,collapse);
  float: right;
  padding: 0 15px;
  margin-top: 16px;
}

.site-header .notice {
  position: absolute;
  left: 300px;
  top: 30px;
  color: #666;
}

.site-identity{
  @include column(4);
}

.site-cart{
  @include column(3);
  text-align: right;
  margin-top: 23px;
}

/* Site Search */

.site-search{
  @include column(4);
  font-size: ms(0);

}
.site-search form{
  margin: 12px 0 0 0;
}

.site-logo{
  margin: 0;
}