/* Messages */

.validation-advice, p.required {color: #C76711; clear: both;
}

/* Global messages */

#inchoo_global_messages {
  position: relative;
  z-index: 9999;
}

#inchoo_global_messages ul ul{margin: 0}

#inchoo_global_messages_close {
  position: absolute;
  top: 13px;
  right: 13px;
  z-index: 10000;
  display: block;
  width: 15px;
  height: 15px;
  background: #fff;
  text-align: center;
  color: #006400;
  font-size: 15px;
  line-height: 14px;
  text-decoration: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
