/* Page */
.site-breadcrumbs{
  @include outerRow();
  background: $siteBackground;
}
.site-breadcrumbs .breadcrumbs{
  @include column(12);
}

.main-container{
  @include outerRow();
  background: $siteBackground;
}

/* Main Slider */

.slider-nav .right, .slider-nav .left {
  margin: 0 15px;
}

.orbit-wrapper .timer{
  right: 50%;
  top: 50%;
}
/* Main Slider END */

/* Description */
.description{
  margin-bottom: 4em;
}

.icon{
  float: left;
  font-size: 4em;
  height: 250px;
  padding-right: 20px;
  color: #D52462;
}

.description-content h6{
  color: #888888;
  text-transform: uppercase;
}

.description-content img{
  float: left;
  padding: 7px 10px 10px 0;
}

.description .line-separator{
  height:1px;
  background:#717171;
  border-bottom:1px solid #e6e6e6;
  margin-top: 0px;
  margin-bottom: 40px;
}
/* Description END */