/*
Product Page
:::: Simple Product
:::: Simple Product with options
:::: Configurable product
:::: Grouped product
:::: Downloadable product
*/

/* -----------------------------------------
   Product Page
----------------------------------------- */
.product-essential .product-shop{}
.product-essential .product-shop .product-name h1{
  font-size: 26px;
  font-weight: 300;
  margin-top: 0;
  line-height: 28px;
  margin-bottom: 0;

}
.product-essential .product-img-box{}
.product-essential .price-box{
  float: none;
  font-size: 18px;
  margin: 10px 0 16px 0;
  font-weight: 700;}
.product-view h2, .box-collateral h3{font-size: 14px}
.product-essential .or {display: none;}
.product-essential hr {visibility: hidden;}
.product-shop p.email-friend, .product-shop p.no-rating {margin-bottom: 0px;}
.product-shop .availability {margin: 6px 0;font-weight: 600;}
.product-shop .availability span{font-weight: 300;}
.product-shop .add-to-cart, .product-shop .add-to-links, .product-options-bottom .add-to-cart, .product-options-bottom .add-to-links{width: 100%; clear: both; margin-bottom: 12px; overflow: hidden;}
.product-shop .add-to-links{margin-top: 0px;}
.product-shop .add-to-cart label,.product-shop .add-to-cart input#qty, .product-shop .add-to-cart button.button {display: block;float: left}
.product-shop .add-to-cart label, .product-options-bottom label {
  margin-top: 15px; margin-right: 4px;float: left;
  font-weight: 600;
}
.product-shop .add-to-cart input#qty, .product-options-bottom input#qty{width: 32px;margin-top: 6px; margin-right: 4px;float: left; }
.product-shop .add-to-cart button.button {
  margin-top: 6px;
  margin-left: 6px;
  padding: 8px 40px 8px;
  font-weight: 600;
}

#product-options-wrapper {
  box-shadow: #F6F6F6 1px 1px 1px;
  border: 1px solid #E8E8E8;
  padding: 12px 12px 0px 12px;
  margin-bottom: 12px;
  background: #fff;
}
#product-options-wrapper span.label{color: #333;display: inline-block;
  background: inherit;
}

.product-options dd .input-box, .product-options dd .qty-holder{
  display: inline-block;
}
.product-options dd .qty-holder{
  margin-left: 12px;
  float: right;
}
.product-options dd{
  background: #F9F9F9;
  padding: 8px;
  margin-bottom: 8px;
  border-bottom: 1px dashed #E8E8E8
}
.product-options li{
  margin-bottom: 0;
}

/*--- Breadcrumbs ---*/

.site-breadcrumbs{}
.breadcrumbs{}

