.super-header{
  @include outerRow();
  color: #333;
  border-bottom: 1px solid $topBarBorder;
}

/*  navcontainer  */
.navcontainer ul
  {
  padding-left: 0;
  margin-left: 0;
  line-height: 2em;
  float: left;
  background-color: #fff;
  color: #333;
  vertical-align: 15%;
  float: left;
  font-family: arial, helvetica, sans-serif;
}

.navcontainer ul li { display: inline;}

.navcontainer ul li a
  {
  padding: 0 1em;
  text-decoration: none;
  float: left;
  color: #4183C4;
  font-weight: bold;
  font-size: 13px;
  transition: background-color 0.15s ease-in-out 0s;
}

.navcontainer ul li a:hover
  {
  background-color: #DDEFF7;
}

.navlist{
  margin-bottom: 0px;
}
/* navcontainer END */


.nav-bar{
  border: 0 none;
  margin: 0;
}

.nav-bar > li:hover{
  background: #3269A0;
}

.nav-bar > li > a {
  color: $siteBackground;
}

.site-language{
  /*@include column(2,collapse);*/
  padding: 0;
  float: right;
}

form.custom div.custom.dropdown a.current{
  border: none;
}

form.custom div.custom.dropdown a.selector{
  border: none;
}

form.custom div.custom.dropdown ul{
 -moz-box-shadow: 0 6px 5px #888;
 -webkit-box-shadow: 0 6px 5px#888;
  box-shadow: 0 6px 5px #888;
  border: none;
  background: none repeat scroll 0 0 #FFFFFF;
}

.custom.dropdown.open{
  -moz-box-shadow: 0 3px 5px #888;
  -webkit-box-shadow: 0 3px 5px#888;
  box-shadow: 0 3px 5px #888;
}

.site-language label, .store-currency label{
  display: none;
}

.site-language .custom.dropdown, .site-language div.custom.dropdown.open ul, .custom.dropdown.open ul{
  width: 100% !important;
}

.block_header_top_help{
  float: left;
  line-height: 2em;
}

.block_header_top_help > div {
  float: right;
  padding: 0 10px;
}

.welcome-msg{
  float: left;
  padding: 3px 0 0 10px ;
}

.welcome-msg p{
  margin-bottom: 0;
}

.currency label{
  padding: 6px 10px;
  position: absolute;
  z-index: 1;
  margin-bottom: 0;
  display: none;
}

.currency ul{
  text-align: left;
}

.currency.custom{
  float: right;
  margin-left: 10px;
}
.demo-notice{
  background: lightgoldenrodyellow;
  text-align: center;
  padding: 0.3em 0;
}