.site-language ul,
.site-language li,
.site-language p{
  margin-bottom: 0;padding-bottom: 0;
}
.super-header form, .super-header .top-bar{
  margin: 0;
}
.super-header select{
  margin-bottom: 0;
}
.switchers{
  padding-bottom: 1em;
}