/*

"Water is the antithesis of anxiety; it is inexorable and has no cohesion,
 but it travels with the strength of karma.
 To look at water, to grasp its rhythm and feel its flow, is to be calmed.

	by Levi Asher

*/


// Your custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
// @import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "compass/css3";
@import "foundation/settings";
@import "foundation/functions/all";

// Control which mixins you have access too

@import "foundation/mixins/clearfix";
@import "foundation/mixins/css-triangle";
@import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

@import "foundation/mixins/respond-to";
@import "foundation/mixins/semantic-grid";

@import "modular-scale";
@import "foundation/common/globals";

// Must include the grid for any responsiveness

@import "foundation/components/grid";

// Control which common styles get compiled

@import "foundation/common/typography";
@import "foundation/common/forms";

// Control which components you get if customizing

@import "foundation/components/modules/buttons";
@import "foundation/components/modules/tabs";
@import "foundation/components/modules/ui";
@import "foundation/components/modules/topbar";
@import "foundation/components/modules/navbar";
@import "foundation/components/modules/orbit";
@import "foundation/components/modules/reveal";
@import "foundation/components/modules/offcanvas";
@import "foundation/components/modules/clearing";
@import "foundation/components/modules/joyride";

// Media Queries Overrides
@import "foundation/components/modules/mqueries";

// Magento UI elements
@import "magento/common/ui";

// Font Awesome
@import "font-awesome";

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Header

:: Footer

:: Top Navigation

:: Product Page
:::: Simple Product
:::: Simple Product with options
:::: Configurable product
:::: Grouped product
:::: Downloadable product

:: Catalog Page
    :::: Grid View
    :::: List View
    :::::::: Toolbar | Pagination | Sort by
    :::::::: Prices
    :::::::: Layer Navigation
    :::::::: Sidebar Blocks
    :::: Compare Products
:: Cart Page

:: Checkout


:: Success Page
:::: Print Receipt Page

:: My Account

*/

body{ background: url("../images/subtle_dots.png") repeat scroll 0 0; font-family: 'Open Sans', sans-serif;}


/* -----------------------------------------
   Header
----------------------------------------- */
/* Header Elements*/

.super-header{
  @include outerRow();
}
.site-header {
  @include outerRow();
  padding: 1em 0 1em 0;
  background: $siteBackground;
  @include box-shadow(0 -3px -2px rgba(0, 143, 255, 0.04));
  border-top: 1px solid #A9D9FF;
}
.site-language{
  @include column(1,collapse);
  padding: 1em 0;
  float: right;
}
.site-language label{
  display: none;
}
.site-account{
  @include column(1,collapse);
  float: right;
}

.site-header .notice {
  position: absolute;
  left: 300px;
  top: 30px;
  color: #666;
}

.site-identity{
  @include column(3);
}

.site-cart{
  @include column(4);
  text-align: right;
}


/* Main nav  */

.site-nav{
  @include outerRow();
  background: lighten(#000, 94%);
}

/* Site Search */

.site-search{
  @include column(5, collapse);
  font-size: ms(0);

}
.site-search form{
  margin: 0.8em 0 0 0;
}
/* Page */
.site-breadcrumbs{
  @include outerRow();
  background: $siteBackground;
}
.site-breadcrumbs .breadcrumbs{
  @include column(12);
}

.main-container{
  @include outerRow();
  background: $siteBackground;
}
.site-footer{
  @include outerRow();
  background: $siteBackground;
}

.site-footer footer{
  @include column(12);
}

/* -----------------------------------------
   Footer
----------------------------------------- */


/* -----------------------------------------
   Home Page
----------------------------------------- */

/* -----------------------------------------
   Page
----------------------------------------- */
/* -----------------------------------------
   Product Page
----------------------------------------- */
.product-essential .product-shop{}
.product-essential .product-shop .product-name h1{
  font-size: 26px;
  font-weight: 300;
  margin-top: 0;
  line-height: 28px;
  margin-bottom: 0;

}
.product-essential .product-img-box{}
.product-essential .price-box{
  float: none;
  font-size: 18px;
  margin: 10px 0 16px 0;
  font-weight: 700;}
.product-view h2, .box-collateral h3{font-size: 14px}
.product-essential .or {display: none;}
.product-essential hr {visibility: hidden;}
.product-shop p.email-friend, .product-shop p.no-rating {margin-bottom: 0px;}
.product-shop .availability {margin: 6px 0;font-weight: 600;}
.product-shop .availability span{font-weight: 300;}
.product-shop .add-to-cart, .product-shop .add-to-links, .product-options-bottom .add-to-cart, .product-options-bottom .add-to-links{width: 100%; clear: both; margin-bottom: 12px; overflow: hidden;}
.product-shop .add-to-links{margin-top: 0px;}
.product-shop .add-to-cart{
  background: none repeat scroll 0 0 #F0F0F0;
  border: 1px solid #DDDDDD;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 1px rgba(0, 83, 109, 0.18) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 83, 109, 0.18) inset;
  -moz-box-shadow: 0 0 1px rgba(0, 83, 109, 0.18) inset;
  display: inline-block;

  padding: 6px 12px 10px 12px;
  width: inherit;
}
.product-shop .add-to-cart label,.product-shop .add-to-cart input#qty, .product-shop .add-to-cart button.button {display: block;float: left}
.product-shop .add-to-cart label, .product-options-bottom label {
  margin-top: 15px; margin-right: 4px;float: left;
  font-weight: 600;
}
.product-shop .add-to-cart input#qty, .product-options-bottom input#qty{width: 32px;margin-top: 6px; margin-right: 4px;float: left; }
.product-shop .add-to-cart button.button {
  margin-top: 6px;
  margin-left: 6px;
  padding: 8px 40px 8px;
  font-weight: 600;
}
.short-description{font-size: 14px; line-height: 1.4;}



#product-options-wrapper {
  box-shadow: #F6F6F6 1px 1px 1px;
  border: 1px solid #E8E8E8;
  padding: 12px 12px 0px 12px;
  margin-bottom: 12px;
  background: #fff;
}
#product-options-wrapper span.label{color: #333;display: inline-block;
  background: inherit;
}

.product-options dd .input-box, .product-options dd .qty-holder{
  display: inline-block;
}
.product-options dd .qty-holder{
  margin-left: 12px;
  float: right;
}
.product-options dd{
  background: #F9F9F9;
  padding: 8px;
  margin-bottom: 8px;
  border-bottom: 1px dashed #E8E8E8
}
.product-options li{
  margin-bottom: 0;
}
/* -----------------------------------------
   Catalog Page
----------------------------------------- */
.toolbar, .toolbar-bottom   	{clear:both;}
.sorter												{padding-bottom: 6px;}
.sorter form, .pager form{margin: 0}
.page-title.category-title h1	{font-size: 1.8em;font-weight: 600;margin: 0;  }

.price-box                  {}
.price-box p                {margin-bottom: 2px}

.minimal-price-link         {  background: #efefef; font-size: 11px; padding: 2px 4px; line-height: 14px }
.col-main nine columns			{	width: 71.9%;}
.add-to-links               {margin:12px 0;}
.add-to-links li            {margin: 0 4px 0 0; float: left;}

.ratings {font-size: 11px;line-height: 1.25;margin: 7px 0;}
.rating-box {
  width: 69px;
  height: 13px;
  font-size: 0;
  line-height: 0;
  background: url(../images/bkg_rating.gif) 0 0 repeat-x;
  text-indent: -999em;
  overflow: hidden;
  float: left;
  margin-right: 3px;
  margin-top: 4px;
}
.rating-box .rating {
  float: left;
  height: 13px;
  background: url(../images/bkg_rating.gif) 0 100% repeat-x;
}
/* Temporary */ form.custom div.custom.dropdown{display: inline-block;}
/* Ze Blocks */
#sidebar .block{}
.block-title{margin: 0 0 6px 0 ;}

.block-cart .block-subtitle{margin:12px 0 0 0 ;}
#cart-sidebar.mini-products-list {}
#cart-sidebar.mini-products-list .product-image{}
#cart-sidebar.mini-products-list .product-details{}
.block-subscribe label{display: none;}
.block-content {margin-top: 6px;}
.block-content li, .block-content li p{margin-bottom: 6px;}

/* Poll */

#poll-answers input[type=radio]{float: left; margin-right: 6px}


/* --- Grid View --- */
.products-grid              {}
.products-grid .item        {}
.products-grid .item.last   {}
.products-grid .item.first  {}
.products-grid.first.odd    {}
.products-grid.last.even    {}

.products-grid  h2.product-name { font-size: 16px }
.product-image > img {
  background: none repeat scroll 0 0 #F0F0F0;
  border: 1px solid #DDDDDD;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 1px rgba(0, 83, 109, 0.18) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 83, 109, 0.18) inset;
  -moz-box-shadow: 0 0 1px rgba(0, 83, 109, 0.18) inset;
  display: block;
  padding: 6px;
}
.product-image > img:hover {
  background: none repeat scroll 0 0 #27A2E1;
  border: 1px solid #27A2E1;
  box-shadow: 0 0 2px #00536D;
  -webkit-box-shadow: 0 0 2px #00536D;
  -moz-box-shadow: 0 0 2px #00536D;
}
.products-grid  .price-box, .products-grid  .actions{ width: 90%;clear: both; }
.products-grid .add-to-links{}
.products-grid .add-to-links li{float: left;margin: 0;font-size: 12px;padding-right: 5px; }
.products-grid .add-to-links a {font-size: 11px;font-weight: 700}
.products-grid .price-box, .products-grid .actions, .products-list .price-box{margin-bottom: 12px;}
.products-grid .price-box .price, .products-list .price{font-weight: 500}

/* --- List View --- */
.category-products ol.products-list { list-style-type: none; padding: 0}
.category-products ol.products-list .product-image{   }
.category-products ol.products-list .product-shop{   }
.category-products ol.products-list .product-shop h2{ font-size: 18px;font-weight: 500; margin-top: 0;  }
.category-products ol.products-list .item{ margin-bottom: 22px; overflow: hidden;  }
.category-products ol.products-list .item.last{ border-bottom: none; }

/* --- Layer navigation --- */


.block-layered-nav ol {
  list-style-type: none;
  margin-bottom: 4px;
  margin-left: 0;
  padding: 6px 12px;

}
.block-layered-nav .currently ol{
  padding-left: 0;
}
#narrow-by-list li{
  margin-bottom: 0px;
}
.block-layered-nav .block-subtitle{
  margin-bottom: 9px;
  font-weight: 200px;
  font-size: 13px;
}
#narrow-by-list dt{
  border-bottom: 1px solid #2BA6CB;
  color: #000000;
  font-size: 13px;
  font-weight: 700;
  margin: 12px 0 0;
  padding-bottom: 12px;

}
.block-layered-nav .currently .label{
  display: none;

}
.block-layered-nav .currently {
  border-bottom: 1px solid #efefef;
  padding-bottom: 4px;
  margin-bottom: 6px;
}
.block-layered-nav .currently li{
  margin-bottom: 6px;
}
.block-layered-nav .actions{

}

.round-inline, .round-box, .round-inline-bare{display: inline-block; padding: 1px 7px 3px; font-weight: 600; font-size: 13px; background: #eee; border: 1px solid rgba(0,0,0,0.1); margin-bottom: 12px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; text-shadow: 0 1px rgba(255,255,255,0.9); position: relative;}
.round-box {display: box}
.round-inline-bare{ background: none; border: 0 none; }

/* ---  --- Toolbar, Pagination, Sort by --- --- */

/* --- Prices --- */

/*--- Breadcrumbs ---*/
.pager, .sort-by {
  font-size: 11px;
  text-align: center;
}


.toolbar .pager {
  padding-bottom: 6px;
  border-bottom: 1px solid #EFEFEF;
  margin-bottom: 6px;

}
.pager .amount {

  margin: 0;
}
.pager .limiter {
  float: right;
}

.pager .limiter select, .pager .limiter label {
  display: inline-block;
  vertical-align: middle;
}
.pager .limiter select{width: 60px;}
.view-mode{float: left;margin-bottom:0;line-height: 34px}
.view-mode label {display: inline-block;}
.sort-by{float:right;}
.sort-by label, .sort-by select{ display: inline-block; line-height: 22px; }
.sort-by select{ width: 70%; }


/* Footer */

/* -----------------------------------------
   Cart Page
----------------------------------------- */

#shopping-cart-table .product-name, .cart-collaterals h2{font-size: 16px;margin-bottom: 0}
#shopping-cart-table {border-spacing: 0;empty-cells: show;font-size: 100%;border-radius: 0; border-collapse: separate;
}
.cart-collaterals .product-name{font-size: 14px;}
#shopping-cart-table, #shopping-cart-totals-table {width: 100%; }
#shopping-cart-table tbody tr td{vertical-align: middle;}
#shopping-cart-table thead tr th{padding: 8px 0; text-align: left;}
#shopping-cart-table thead tr th.a-center{padding: 8px 0; text-align: center;}
#shopping-cart-table tbody tr td.cart-image{width: 90px}
#shopping-cart-table tbody tr td.cart-name{}
#shopping-cart-table tbody tr td .product-image{display: block;float: left }
#shopping-cart-table tbody tr td .product-name{display: block;float: left }
.cart-table td {
  padding: 10px;
}
#shopping-cart-table .item-options{
  clear: both;
}
form fieldset {padding: 0;border: none;}


.coupon.shipping h2 {font-size: 16px;}

.checkout-types{
  text-align: right;
}

.cart-collaterals{
  border-top: 1px dashed #efefef;
  padding-top: 12px;
  margin-top: 8px;
}
.cart-collaterals h2{margin-bottom: 12px;
}
#crosssell-products-list{}
#crosssell-products-list li.item{float: left;}
#crosssell-products-list li.item .product-image{float: left;display: block;}
.crosssell-products-list li.item .product-details{float: left;margin-left: 8px;
}
/* -----------------------------------------
   Checkout Page
----------------------------------------- */
/* OPC - One Page Checkout */
#checkoutSteps.opc p, #checkoutSteps.opc ul, #checkoutSteps.opc ul li{margin-bottom: 6px}
#checkoutSteps.opc #checkout-step-login ul.ul li{list-style-type:disc; list-style-position: inside;}
#checkoutSteps.opc ul.form-list {margin: 12px 0;}
#checkoutSteps.opc input {margin-right: 4px;}
#checkoutSteps.opc input[type=text], #checkoutSteps.opc input[type=password] {width: 100%}
.opc label {display: inline-block;  }
#checkoutSteps {list-style-type: none;margin-left: 0}
#checkoutSteps .step-title {border-bottom: 1px solid #efefef;margin-bottom: 8px}
#checkoutSteps .step-title h2, #checkoutSteps span.number{font-size: 18px;display: inline-block;font-weight: normal;
  display: -moz-inline-stack ;
  display: inline-block !important;
  zoom: 1;
  *display: inline !important;

}
#checkoutSteps h3 {font-size: 16px; font-weight: normal;}
#checkoutSteps h4 {font-size: 14px; }
#checkoutSteps span.number{}
#checkoutSteps .fields{width: 48%;float: left;margin-right: 10px;}
#checkoutSteps .wide{width: 97.3%;float: left;}
#checkoutSteps #billing-new-address-form label{margin-bottom: 0}
.step {
  border-bottom: 1px solid #0192DD;
  padding-bottom: 12px;
}




/* -----------------------------------------
   Success Page
----------------------------------------- */

/* --- Print receipt page --- */



/* -----------------------------------------
   My Account
----------------------------------------- */



/* Messages */

.validation-advice, p.required {color: #C76711; clear: both;
}


/* Form elements */
input.input-text, textarea{
  box-shadow: #F6F6F6 1px 1px 1px;
  border: 1px solid #E8E8E8;
  width: 100%;
}
input.input-text.qty{
  width: 40px;
}




/* Global messages */

#inchoo_global_messages {
  position: relative;
  z-index: 9999;
}

#inchoo_global_messages ul ul{margin: 0}

#inchoo_global_messages_close {
  position: absolute;
  top: 13px;
  right: 13px;
  z-index: 10000;
  display: block;
  width: 15px;
  height: 15px;
  background: #fff;
  text-align: center;
  color: #006400;
  font-size: 15px;
  line-height: 14px;
  text-decoration: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}


