.required em{color: #c00000; padding-right: 3px}

/* Messages */

ul.messages li, ul.messages {margin-bottom: 0;  border-bottom: 2px solid #DDDDDD;border-radius: 0 0 0 0;box-shadow: 0 0 6px inherit;margin-bottom: 0;}
ul.messages li{ display: block; padding:0; font-weight: bold; font-size: 13px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; text-shadow: 0 1px rgba(255,255,255,0.9); position: relative; }
ul.messages li li {border-radius: 0;padding: 10px 12px}
ul.messages .success-msg li{ background-color: #7fae00; color: #fff; text-shadow: 0 -1px rgba(0,0,0,0.3); }
ul.messages .notice-msg li{ background-color: #C76711; color: #fff; text-shadow: 0 -1px rgba(0,0,0,0.3); }
ul.messages .error-msg li{ background-color: #c00000; color: #fff; text-shadow: 0 -1px rgba(0,0,0,0.3); }

.form-list, .add-to-links{
  list-style-type: none;
}