<?xml version="1.0"?>
<config>
    <modules>
        <JakeSharp_Waterlee>
            <version>1.0.0</version>
            <depends>
                <!-- no dependencies -->
            </depends>
        </JakeSharp_Waterlee>
    </modules>

    <global>

        <blocks>
            <page>
                <rewrite>
                    <html_topmenu>JakeSharp_Waterlee_Block_Topmenu</html_topmenu>
                </rewrite>
            </page>
        </blocks>

        <helpers>
            <waterlee>
                <class>JakeSharp_Waterlee_Helper</class>
            </waterlee>
        </helpers>

    </global>

</config>

